.album-card {
  /* background: rgba(255, 255, 255, 0.1); */
  border-radius: 12px;
  padding: 1rem;
  width: 300px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  background: linear-gradient(
    145deg,
    var(--card-color) 0%,
    color-mix(in srgb, var(--card-color), white 15%) 100%
  );
  color: rgba(0, 0, 0, 0.8);
}

.album-cover {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.album-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.5rem;
}

.artist-name {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.sort-info {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.5rem;
  opacity: 0.9;
}

.stats {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  opacity: 0.8;
} 